* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
/* navbar */
.header {
  background-color: #128c7e;
  position: fixed;
  width: 100%;
}
.logo {
  position: relative;
  padding-left: 105px;
  padding-top: 25px;
  float: left;
}
.navbar {
  padding-left: 330px;
  padding-bottom: 30px;
  width: 100%;
}
.navbar .menu {
  position: relative;
  display: inline-block;
  list-style: none;
  padding-left: 50px;
  padding-top: 30px;
  color: white;
  font-size: medium;
  text-align: center;
  line-height: 31px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* first section */
.first {
  height: 700px;
  width: 100%;
  align-items: center;
  display: flex;
}
#col1 {
  float: left;
  width: 50%;
}

.platforms li {
  color: #1cb39b;
  padding-left: 240px;
  padding-top: 20px;
  font-size: 18px;
  font-weight: 400px;
  line-height: 21.6px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
h1 {
  font-size: 33px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  padding-left: 240px;
  padding-top: 53px;
}
p {
  font-size: 18px;
  word-wrap: break-word;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-top: 40px;
  padding-left: 240px;
}
.lightcolor {
  color: rgb(94, 94, 94);
}
i {
  margin-right: 10px;
}
#col2 {
  float: right;
  width: 50%;
}
.phone {
  height: 670px;
  padding-top: 100px;
  padding-left: 100px;
}

/* second section */
.left {
  float: left;
  height: 807px;
  width: 49%;
  background-color: #d8e8ea;
}
.h11 {
  font-size: 34px;
  font-weight: 700;
  line-height: 44px;
  padding-left: 110px;
  padding-top: 60px;
}
.p11 {
  text-align: center;
  padding: 25px 55px 0px 55px;
  padding-bottom: 30px;
}
.halfphoto {
  display: block;
  max-width: 100%;
  height: 350px;
  margin-top: 52px;
  padding: 0px 125px 0px 125px;
}
.right {
  float: right;
  width: 49%;
  height: 807px;
  background-color: #e7f0e4;
}
.circleimage {
  display: block;
  max-width: 100%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 34px;
  color: rgb(94, 94, 94);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  padding-top: 70px;
}
.h12 {
  text-align: center;
  padding: 0;
  font-size: 34px;
  font-weight: 700;
  line-height: 44px;
}

.p12 {
  padding: 25px 55px 0px 55px;
  text-align: center;
}

.second {
  padding-top: 40px;
}

/* BUTTON */
.explore {
  width: 100%;
  display: flex;
  height: 200px;
}
button {
  position: relative;
  top: 50%;
  left: 50%;
  margin: 0px;
  font-size: 16px;
  font-weight: 500px;
  line-height: 19.2px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #ffffff;
  border: 2px solid #77d7c8;
  border-radius: 1000px;
  width: 202px;
  height: 50px;
  color: #128c7e;
  display: inline-block;
  font: normal normal 16px/50px "Roboto", sans-serif;
  text-align: center;
  display: block;
  z-index: -1;
}
.upperfooter {
  background-color: #273443;
  height: 325px;
  display: inline-flex;
  width: 100%;
}
.lowerfooter {
  background-color: #1c1e21;
  height: 65px;
}
h4 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 17px;
  color: #f0f4f9;
  padding-bottom: 25px;
  padding-top: 45px;
}
.whatsapp {
  padding-right: 50px;
}
.upperfooter li {
  color: #f0f4f9;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
footer div {
  padding-left: 55px;
  padding-right: 120px;
}
.lowerfooter {
  display: inline-flex;
  width: 100%;
}
.lowerfooter li {
  list-style: none;
  display: inline;
  font-size: 18px;
  color: #f0f4f9;
  font-weight: 400;
  line-height: 26px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-left: 40px;
}

.lowerfooter ul {
  padding-left: 17px;
  padding-top: 20px;
}
.privacy {
  position: relative;
  left: 650px;
}
span {
  color: #39b3ed;
}
